/Baitaptuan3.ipynb
/diagram.py
/Homework1.ipynb
/Homework2.ipynb
/jupyturtle.py
/Lab01_NoAns.ipynb
/lab02.ipynb
/lab04.ipynb
/lec01.ipynb
/lec03.ipynb
/thinkpython.py
/thuchanh.py
/thuchanhbuoi2.ipynb
/__pycache__